.container {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  .wrapper {
    align-items: center;
    border: 1px none;
    display: inline-flex;
    flex-direction: column;
    gap: 50px;
    position: relative;
    width: 100%;
    .logo {
      height: 192px;
      position: relative;
      width: 276px;
    }

    .wrapperContainer {
      align-items: center;
      display: inline-flex;
      flex: 0 0 auto;
      flex-direction: column;
      gap: 50px;
      position: relative;

      .top {
        align-items: flex-start;
        display: flex;
        flex: 0 0 auto;
        flex-direction: column;
        gap: 10px;
        position: relative;
        width: 335px;

        .signUpFormContainer {
          align-items: flex-start;
          align-self: stretch;
          display: flex;
          flex: 0 0 auto;
          flex-direction: column;
          gap: 10px;
          position: relative;
          width: 100%;

          .textHeading {
            align-self: stretch;
            color: var(--grays-05);
            font-family: "Poppins", Helvetica;
            font-size: 28px;
            font-weight: 700;
            letter-spacing: -0.5px;
            line-height: 32px;
            margin-top: -1px;
            position: relative;
            text-align: center;
          }
        }
        .text {
          align-self: stretch;
          color: var(--grays-04);
          font-family: "Poppins", Helvetica;
          font-size: 16px;
          font-weight: 400;
          letter-spacing: -0.41px;
          line-height: 20px;
          position: relative;
          text-align: center;
        }

        .inputContainer {
          align-items: flex-start;
          align-self: stretch;
          display: flex;
          flex: 0 0 auto;
          flex-direction: column;
          gap: 10px;
          position: relative;
          width: 100%;

          .inputWrapper {
            display: flex;
            width: 100%;

            .inputClass {
              padding: 5px 10px;
            }
          }
          .getStartedBtn {
            width: 100% !important;
          }
        }
      }
    }
  }
}
