$primary-color: #008BCC;
$secondary-color: #4680e7;
$bg-container: #d7e2fa60;
$background-color: #fff;
$background-color-secondary: #f7f9fa;
$font-color: #1d2130;
$font-color-light: #1d2130bf;
$info-color: #6b7280;
$info-color-light: #9e9e9e;
$info-color-lighter: #bdbdbd;
$info-color-alt: #d7d7d7;
$error-color: #f44336;
$error-color-light: #ff7961;
$error-color-lighter: #ffcdd2;
$warning-color: #fdd003;
$disclaimer-color: rgba(28, 33, 41, 0.55);
$warning-color-light: #ffb74d;
$warning-color-lighter: #ffe0b2;
$success-color: #4caf50;
$success-color-light: #81c784;
$success-color-lighter: #c8e6c9;
$card-color-blue: #34495e;
$light-text: #828eac;
$border-color: #cdd7f1;

$screen-xs-max: 350px;
$screen-sm-max: 600px;
$screen-md-max: 900px;
$screen-md-avg: 756px;
$screen-lg-max: 1200px;
$screen-xl-max: 1536px;

@mixin xs {
  @media (max-width: #{$screen-xs-max}) {
    @content;
  }
}

@mixin sm {
  @media (max-width: #{$screen-sm-max}) {
    @content;
  }
}

@mixin md {
  @media (max-width: #{$screen-md-max}) {
    @content;
  }
}

@mixin mdAvg {
  @media (max-width: #{$screen-md-avg}) {
    @content;
  }
}

@mixin lg {
  @media (max-width: #{$screen-lg-max}) {
    @content;
  }
}

@mixin xl {
  @media (max-width: #{$screen-xl-max}) {
    @content;
  }
}

@mixin min-xs {
  @media (min-width: #{$screen-xs-max}) {
    @content;
  }
}

@mixin min-sm {
  @media (min-width: #{$screen-sm-max}) {
    @content;
  }
}

@mixin min-lg {
  @media (min-width: #{$screen-lg-max}) {
    @content;
  }
}

@mixin min-md {
  @media (min-width: #{$screen-md-max}) {
    @content;
  }
}

@mixin min-xl {
  @media (min-width: #{$screen-xl-max}) {
    @content;
  }
}